startup --windows_enable_symlinks
common --enable_bzlmod
query --deleted_packages=examples/simple,examples/torch,examples/transitions,examples/markers
build --deleted_packages=examples/simple,examples/torch,examples/transitions,examples/markers
build --enable_runfiles
build --incompatible_default_to_explicit_init_py
test --test_output=errors
