[submodule "examples/airflow/re2"]
	path = examples/airflow/re2
	url = https://github.com/google/re2/
[submodule "examples/uv/re2/re2"]
	path = examples/uv/re2/re2
	url = https://github.com/google/re2
