name: CI

on:
  pull_request:
    branches:
      - "*"

  workflow_dispatch:

jobs:
  test:
    name: Test rules_poetry on ${{ matrix.os }} with ${{ matrix.compiler }}.
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      matrix:
        include: # TODO: windows-latest
          - os: ubuntu-latest
            cache: ~/.cache/bazel
          - os: macos-latest
            cache: /private/var/tmp/_bazel_runner

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Show info
        id: info
        run: bazel info
        shell: bash

      - name: Mount bazel cache
        uses: actions/cache@v3.3.1
        with:
          path: ${{ matrix.cache }}
          key: bazel-${{ matrix.os }}-${{ github.sha }}
          restore-keys: bazel-${{ matrix.os }}

      - name: Run tests
        id: tests
        run: bazel test ...
        shell: bash
