name: CI

on:
  pull_request:
    branches:
      - "*"

  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cache: ~/.cache/bazel
            install: |
              sudo apt-get update
              sudo apt-get install -y postgresql postgresql-contrib
          - os: macos-latest
            cache: /private/var/tmp/_bazel_runner
            install: |
              brew update
              brew install libpq
              brew link libpq
              ls -al /opt/homebrew/opt/libpq/lib
          - os: windows-latest
            cache:  ~/.cache/bazel
            install: |
              # https://github.com/ikalnytskyi/action-setup-postgres/blob/master/action.yml
              choco install postgresql18 --params "/Password:postgres" --ia "--enable-components server,commandlinetools --extract-only 1" --no-progress
              echo "$env:PROGRAMFILES\PostgreSQL\18\bin" >> $GITHUB_PATH
              echo "PQ_LIB_DIR=$env:PROGRAMFILES\PostgreSQL\18\lib" >> $GITHUB_ENV
              echo "LOCALAPPDATA: $env:LOCALAPPDATA"
              echo "LocalAppData: $env:LocalAppData"
              echo "APPDATA: $env:APPDATA"
              echo "TEMP: $env:TEMP"

    steps:
      - name: "node-cleanup"
        if: runner.os != 'Windows'
        run: |
          df -h
          sudo rm -rf /usr/lib/jvm /usr/share/dotnet /usr/share/swift /usr/local/.ghcup /usr/local/share/powershell /usr/local/julia* /usr/local/lib/android /usr/local/share/chromium /opt/microsoft /opt/google /opt/az /opt/ghc /opt/hostedtoolcache
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Mount bazel cache
        uses: actions/cache@v5
        with:
          path: ${{ matrix.cache }}
          key: bazel-${{ matrix.os }}
          restore-keys: bazel-${{ matrix.os }}

      - name: Install dependencies
        run: ${{ matrix.install }}

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: true


      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          disk-cache: ${{ github.workflow }}
          # Share repository cache between workflows.
          repository-cache: true

      - name: Show info
        id: info
        run: |
          uname -a
          bazel info
          git submodule status --recursive
          grep version= examples/uv/re2/re2/python/setup.py
        shell: bash

      - name: Run tests
        id: tests
        run: bazel test ... --spawn_strategy=standalone --verbose_failures
        shell: bash
